<#@ template language="C#" inherits="TemplateUtils" #>
<#@ parameter name="it" type="org.pescuma.ModelSharp.Core.model.PropertyInfo" #>
			public static readonly string <#= it.DefineName #> = ModelUtils.NameOfProperty((<#= it.Owner.ImplementationName #> o) => o.<#= it.Name #>);
