<#@ template language="C#" inherits="TemplateUtils" #>
<#@ parameter name="it" type="org.pescuma.ModelSharp.Core.model.PropertyInfo" #>
<#	if (!it.IsComputed) { #>
<# if (it.Documentation != null) { #>
		/// <summary>
		/// <#= it.Documentation #>
		/// </summary>
<# } #>
<# ForEach("Annotation", it.FieldAnnotations); #><# ForEach("Annotation", it.Annotations); #>
		public readonly <#= it.TypeName #> <#= it.FieldName #>;

<#	} #>