<#@ template language="C#" inherits="TemplateUtils" #>
<#@ import namespace="org.pescuma.ModelSharp.Core.model" #>
<#@ parameter name="it" type="org.pescuma.ModelSharp.Core.model.PropertyInfo" #>
<#@ parameter name="index" type="System.Int32" #>
			<# if (index > 0) { #>else <# } #>if (propertyName == ModelUtils.NameOfProperty(() => <#= it.Name #>))
			{
<#	foreach(var dep in it.CachedComputedDependentProperties) { #>
				<#= dep.Invalidate.Name #>();
<#	} #>
			}
