<#@ template language="C#" inherits="TemplateUtils" #>
<#@ parameter name="it" type="org.pescuma.ModelSharp.Core.model.PropertyInfo" #>
<# if(it.Setter != null) { #>
				case PROPERTIES.<#= it.DefineName #>:
					if (!(value is <#= it.TypeName #>))
						throw new ArgumentException(fieldName + " must be of type <#= it.TypeName #>");
					
					<#= it.Name #> = (<#= it.TypeName #>) value;
					
					return;
<# } #>